*~
*.elc
auto-save-list
recentf
savehist
saveplace
eshell
elpa
el-get
semanticdb
url
ede-projects.el
projectile-bookmarks.eld
.DS_Store
custom.el
places
.smex-items
savefile/
session*
.cask
tramp
/var/pcache
transient/
var/
.cache/
gotools/
eln-cache/
personal/user-info.el
ellama-sessions/
network-security.data
